<h1>Log in</h1>
<%# sessionモデルがないのでform_withなどでいつも使っている@userなどのインスタンス変数が存在しないので使えない。
したがって、モデルがない場合リソースの名前とそれに対応するURLを指定する必要があります。 %>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <ul>
    <li><%= f.label :email %></li>
    <li><%= f.email_field :email %></li>
    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %></li>
    <li><%= f.submit "Log in" %></li>
  </ul>
<% end %>
